<table class="col-start-4 col-span-6">
  <thead class="font-normal text-left text-[0.8125rem] leading-6 text-zinc-800">
    <tr>
      <th class="p-4 pr-6 text-center">symbol</th>
      <th class="p-4 pr-6 text-center">price</th>
      <th class="p-4 pr-6 text-center">timestamp</th>
    </tr>
  </thead>
  <tbody id="stock-data">
  </tbody>
</table>