<div class="md:container md:mx-auto py-10 px-5 text-center">
  <h3 class="font-bold">
    <%= @text %>
  </h3>
</div>

<div class="container grid grid-cols-10">
  <div class="col-start-2 col-span-2 font-bold text-sm">
    <input type="search" name="q" placeholder="search" autocomplete="off" hx-post="/weather/search" hx-target="#weather-table" hx-trigger="input changed delay:500ms, search" class="peer px-0 mx-4 h-full w-full border-b bg-transparent pt-4 pb-1.5 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border-blue-gray-200 focus:border-indigo-500 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50">
  </div>
  <div class="col-start-8 col-span-2 font-normal text-sm">
    <input type="search" name="name" placeholder="add" autocomplete="off" hx-on:htmx:after-request="this.value = ''"  hx-post="/weather/add" hx-target="#weather-table" class="peer px-0 h-full w-full border-b bg-transparent pt-4 pb-1.5 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border-blue-gray-200 focus:border-indigo-500 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50">
  </div>
</div>

<div class="container grid grid-cols-10 py-10" id="weather-table">
  <%= render "weather_table" %>
</div>

<div class="container grid grid-cols-10 py-20">
  <div class="col-start-2 col-span-2 font-light text-xs text-zinc-400">
    @<%= @version %>
  </div>
</div>
