<table class="col-start-2 col-span-10">
  <thead class="font-normal text-left text-[0.8125rem] leading-6 text-zinc-800">
    <tr class="border-b-2">
      <th class="p-4 pr-6">name</th>
      <th class="p-4 pr-6">address</th>
      <th class="p-4 pr-6">type</th>
      <th class="p-4 pr-6"></th>
    </tr>
  </thead>
  <tbody id="places-data">
    <% mapbox_list.each do |place| %>
      <% mapbox_id = place.dig("mapbox_id") %>

      <tr class="group hover:bg-zinc-50 odd:bg-white even:bg-slate-50 text-sm">
        <td class="p-4 pr-6 font-normal">
          <%= place.dig("name") %>
        </td>
        <td class="p-4 pr-6 font-normal">
          <%= place.dig("full_address") %>
        </td>
        <td class="p-4 pr-6 font-normal">
          <%= place.dig("feature_type") %>
        </td>
        <td>
          <% if not mapbox_ids.include?(mapbox_id) %>
            <button class="bg-pink-600 hover:bg-pink-700 text-white text-xs font-bold py-1 px-2 rounded-full" hx-post="/places/mapbox/add?id=<%= mapbox_id %>" hx-target="closest tr" hx-swap="outerHTML swap:1s">
              +
            </button>
          <% end %>
        </td>
      </tr>
    <% end %>    
  </tbody>
</table>