<div class="container grid grid-cols-12">
  <div class="col-span-12 mt-10">
    <h3 class="font-bold text-center">
      <%= app_name %>
    </h3>
  </div>
  <div class="col-start-2 col-span-10 mt-2 opacity-50 text-center text-xs text-zinc-400">
    @<%= app_version %>
  </div>
</div>

<div class="container grid grid-cols-12 mt-10">
  <div class="col-start-2 col-span-5 font-bold text-sm">
    <input type="search" name="q" placeholder="search - e.g. city:zur, country:fra, nodes:munich:2, paths:prague:paris:4" autocomplete="off" hx-get="/graph" hx-target="#graph-table" hx-trigger="search" class="peer px-0 mx-4 h-full w-full border-b bg-transparent pt-4 pb-1.5 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border-blue-gray-200 focus:border-indigo-500 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50">
  </div>
</div>

<div class="container grid grid-cols-12 my-5" id="graph-table">
  <% if table == "cities" %>
    <%= render "graph/cities/table", locals: {cities: cities, query: query} %>
  <% elsif table == "paths" %>
    <%= render "graph/paths/table", locals: {paths: paths, query: query} %>
  <% end %>
</div>

