<div class="col-start-2 col-span-10 mx-4 font-normal text-blue-400 text-xs">
  query '<%= query %>' : results <%= cities.length %>
</div>

<table class="col-start-2 col-span-10 mt-5">
  <thead class="font-normal text-center text-xs leading-6 text-zinc-800">
    <tr>
      <th class="p-4">name</th>
      <th class="p-4">country</th>
      <th class="p-4"></th>
    </tr>
  </thead>
  <tbody>
    <% cities.each do |city| %>
      <tr class="group hover:bg-zinc-50 odd:bg-white even:bg-slate-50 text-center text-xs">
        <td class="p-4 font-normal"><%= city.name %></td>
        <td class="p-4 font-normal"><%= city.data.dig("address", "country") %></td>
      </tr>
    <% end %>    
  </tbody>
</table>
