<div class="container grid grid-cols-12">
  <div class="col-span-12 mt-10">
    <h3 class="font-bold text-center">
      <%= app_name %>
    </h3>
  </div>
  <div class="col-start-2 col-span-10 mt-2 opacity-50 text-center text-xs text-zinc-400">
    @<%= app_version %>
  </div>
</div>

<div class="container grid grid-cols-12 mt-10">
  <div class="col-start-2 col-span-3 font-bold text-sm">
    <input type="search" name="q" placeholder="filter" autocomplete="off" hx-get="/places/search" hx-target="#places-table" hx-trigger="input changed delay:500ms, search" class="peer px-0 mx-4 h-full w-full border-b bg-transparent pt-4 pb-1.5 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border-blue-gray-200 focus:border-pink-600 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50">
  </div>
  <div class="col-start-11 col-span-1 font-normal text-sm">
    <a href="/places/add">
      <button class="bg-pink-600 hover:bg-pink-700 float-right text-white text-xs font-bold py-1 px-2 rounded-full">
        +
      </button>
    </a>
  </div>
</div>


<div class="container grid grid-cols-12 mt-10" id="places-table">
  <%= render "places/list/table", locals: {places_count: places_count, places_list: places_list, query: query} %>
</div>
