<div class="flex flex-row mx-auto mt-5 mx-5">
    <div class="w-1/12"></div>
    <div class="w-1/3 font-normal text-sm">
        <input id="search" type="search" name="city" placeholder="city name" value="" autocomplete="off" hx-get=<%= request_path %> class="peer px-0 h-full w-full border-b bg-transparent pt-4 pb-1.5 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border-blue-gray-200 focus:border-pink-600 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50">
    </div>
</div>
