<script src='https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css' rel='stylesheet' />

<div class="container grid grid-cols-12 mt-5 mx-5">
  <div class="col-start-0 col-span-2 font-normal text-sm" id="city-search">
    <input type="search" name="city" placeholder="city" value="<%= @city_name %>" autocomplete="off" hx-get="/map/search" hx-target="#city-map" class="peer px-0 h-full w-full border-b bg-transparent pt-4 pb-1.5 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border-blue-gray-200 focus:border-indigo-500 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50">
  </div>
</div>

<div id="city-map">
    <% if @city_name %>
        <%= render "map/city/show_map" %>
    <% end %>
</div>